{% extends 'base.html' %}

{% block content %}

<main class= "container">
    <div class="row">
        <div class="col-md-4 offset-md-4 my-5">
            <form action = "/tasks/create" method = "POST" class = "card card-body">

                <h1>Create Task</h1>

                {% csrf_token %}

                {{ task_form }}
                <button class= "btn btn-secondary">
                    Create Task
                </button>
                {{ error }}
            </form>
        </div>
</main>

{% endblock %}